.index{
vertical-align: middle;
margin-left: 198px;
margin-top: 53px;  
}
.h1{
    font-size: 38px;
    color: #274C5B;
    vertical-align:middle;
    display: inline-block;
    margin-right: 150px;
    font-family: 'Roboto', sans-serif;
}
.navigation{
    display: inline-block;
   

}
.liclass{
    display: inline-block;
   padding-top: 79px;
    margin-left: 80px;
    color:  #274C5B;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.div1{
    display: inline-block;
    margin-left: 260px;
    margin-top: 170px;
    background-color: #F9F8F8;
    width: 1400px;
    height: 579x;
    position: relative;
}
.h2{
    font-family: 'Yellowtail';
    font-size: 36px;
    color: #7EB693;
    margin-top: 120px;
}
.paragraph{
    display: inline-block;
    width: 524px;
    text-align: justify;
    padding-top: 30px;
    font-size: 50px;
    color: #274C5B;
}
.p2{ 
    width: 671px;
    height: 60px;
    font-size: 18px;
    color: #525C60;
    padding-top: 51px;
    text-align: justify;
    font-family: 'Open Sans';
}
.image1{
    display: inline-block;
    position: absolute;
    right: 60px;
    top: 0%;
    background-color:#EBEBEB;
    border-radius: 15px;
    width: 600px;
}
.p3{
    position: absolute;
    right: 170px;
    top: 450px;
    font-size: 36px;
    font-family: 'Yellowtail';
    color: #274C5B;
}
    .header{
        position: fixed;
        width: 100%;
        top: 0%;
        left: 0%;
        z-index: 100;
        background-color: white;
    }
    .body{
        padding-top: 50px;
    }
    .box{
        width: 1118px;
        background-color:  #F9F8F8;
        margin-top: 200px;
        margin-left: 390px;
         position: relative;
    }
    .div-boxes{
       
        width: 257px;
        height: 335px;
        display: inline-block;
        background-color: #FFF;;
    }
    .size{
        margin-right: 30px;
    
    } 
    .h2-text{
        position: absolute;
        left: 50px;
        bottom: 300px;
        top: 29px;
        color: #274C5B;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
}   
    .paragraph2{
        display: inline-block;
        width: 184px;
        position: absolute;
        left: 50px;
        top: 78px;
        color: #525C60;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Open Sans';
    }
    .H2-BOX2{
        position: absolute;
        left: 350px;
        top:29px;
        color: #274C5B;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
    }
    .p2-box2{
        display: inline-block;
        width: 184px;
        position: absolute;
        left: 330px;
        top:78px;
        color: #525C60;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Open Sans';
    }
    .h2-box3{
        position: absolute;
        left: 620px;
        top:29px;
        color: #274C5B;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
    }
    .p2-box3{
        display: inline-block;
        width: 184px;
        position: absolute;
        left: 620px;
        top:78px;
        color: #525C60;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Open Sans';
    }
    .h2-box4{
        position: absolute;
        left: 900px;
        top:29px;
        color: #274C5B;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
    }
    .p2-box4{
        display: inline-block;
        width: 184px;
        position: absolute;
        left: 900px;
        top:78px;
        color: #525C60;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Open Sans';
    }
    

    
    
    
       
    