.index{
vertical-align: middle;
margin-left: 198px;
margin-top: 53px;  
}
.h1{
    font-size: 38px;
    color: #274C5B;
    vertical-align:middle;
    display: inline-block;
}
.navigation{
    display: inline-block;
   
}