.index{
vertical-align: middle;
margin-left: 198px;
margin-top: 53px;  
}
.h1{
    font-size: 38px;
    color: #274C5B;
    vertical-align:middle;
    display: inline-block;
}
.navigation{
    display: inline-block;
   

}
.liclass{
    display: inline-block;
   padding-top: 79px;
    margin-left: 150px;
    color:  #274C5B;
    font-size: 20px;

}